# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [50]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("./Resources/applicants_data.csv")

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [11]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [51]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN","NAME"])# YOUR CODE HERE

# Review the DataFrame
# YOUR CODE HERE
display(applicant_data_df)
applicant_data_df.dtypes

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [76]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=="object"].index)
# Display the categorical variables list
# YOUR CODE HERE
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [77]:
# Create a OneHotEncoder instance
enc =OneHotEncoder(sparse=False)# YOUR CODE HERE

In [78]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])# YOUR CODE HERE

In [164]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data, columns= enc.get_feature_names(categorical_variables))

# Review the DataFrame
# YOUR CODE HERE
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [167]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_variables= applicant_data_df.drop(columns=categorical_variables)
#numerical_variables.head()
encoded_df = pd.concat([encoded_df, numerical_variables],axis=1)
# Review the Dataframe
# YOUR CODE HERE
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [172]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df["IS_SUCCESSFUL"]# YOUR CODE HERE

# Display a sample of y
# YOUR CODE HERE
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [173]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X =encoded_df.drop(columns="IS_SUCCESSFUL").copy()# YOUR CODE HERE

# Review the features DataFrame
# YOUR CODE HERE
X

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179

### Step 6: Split the features and target sets into training and testing datasets.

In [174]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [175]:
# Create a StandardScaler instance
scaler = StandardScaler()
# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)# YOUR CODE HERE

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)# YOUR CODE HERE
X_test_scaled = X_scaler.transform(X_test)# YOUR CODE HERE

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [176]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])# YOUR CODE HERE

# Review the number of features
number_input_features

116

In [177]:
# Define the number of neurons in the output layer
number_output_neurons = 1# YOUR CODE HERE

In [178]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features+number_output_neurons)//2# YOUR CODE HERE

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [179]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1+number_output_neurons)//2 # YOUR CODE HERE

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [180]:
# Create the Sequential model instance
nn = Sequential()# YOUR CODE HERE

In [181]:
# Add the first hidden layer
# YOUR CODE HERE
nn.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer1, activation="relu"))

In [182]:
# Add the second hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [183]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(number_output_neurons, activation="sigmoid"))

In [184]:
# Display the Sequential model summary
# YOUR CODE HERE
nn.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_16 (Dense)             (None, 58)                6786
_________________________________________________________________
dense_17 (Dense)             (None, 29)                1711
_________________________________________________________________
dense_18 (Dense)             (None, 1)                 30
=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [185]:
# Compile the Sequential model
# YOUR CODE HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics="accuracy")

In [186]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 691us/step - loss: 0.6088 - accuracy: 0.6898
Epoch 2/50
804/804 [==============================] - 1s 671us/step - loss: 0.5537 - accuracy: 0.7286
Epoch 3/50
804/804 [==============================] - 1s 653us/step - loss: 0.5461 - accuracy: 0.7350
Epoch 4/50
804/804 [==============================] - 1s 648us/step - loss: 0.5459 - accuracy: 0.7338
Epoch 5/50
804/804 [==============================] - 0s 589us/step - loss: 0.5481 - accuracy: 0.7312
Epoch 6/50
804/804 [==============================] - 0s 577us/step - loss: 0.5503 - accuracy: 0.7301
Epoch 7/50
804/804 [==============================] - 1s 622us/step - loss: 0.5391 - accuracy: 0.7353
Epoch 8/50
804/804 [==============================] - 0s 604us/step - loss: 0.5445 - accuracy: 0.7326
Epoch 9/50
804/804 [==============================] - 0s 594us/step - loss: 0.5394 - accuracy: 0.7342
Epoch 10/50
804/804 [==============================] - 0s 590us/step - loss: 0.5374 - accuracy: 0.7362
Epoch 11/50
804/804 [==============================] - 0s 600us/step - loss: 0.5377 - accuracy: 0.7387
Epoch 12/50
804/804 [==============================] - 1s 652us/step - loss: 0.5338 - accuracy: 0.7414
Epoch 13/50
804/804 [==============================] - 0s 599us/step - loss: 0.5415 - accuracy: 0.7346
Epoch 14/50
804/804 [==============================] - 1s 638us/step - loss: 0.5458 - accuracy: 0.7316
Epoch 15/50
804/804 [==============================] - 1s 687us/step - loss: 0.5350 - accuracy: 0.7420
Epoch 16/50
804/804 [==============================] - 1s 684us/step - loss: 0.5356 - accuracy: 0.7380
Epoch 17/50
804/804 [==============================] - 1s 672us/step - loss: 0.5394 - accuracy: 0.7381
Epoch 18/50
804/804 [==============================] - 1s 697us/step - loss: 0.5360 - accuracy: 0.7383
Epoch 19/50
804/804 [==============================] - 1s 668us/step - loss: 0.5346 - accuracy: 0.7426
Epoch 20/50
804/804 [==============================] - 1s 690us/step - loss: 0.5351 - accuracy: 0.7431
Epoch 21/50
804/804 [==============================] - 1s 656us/step - loss: 0.5364 - accuracy: 0.7400
Epoch 22/50
804/804 [==============================] - 0s 584us/step - loss: 0.5357 - accuracy: 0.7398
Epoch 23/50
804/804 [==============================] - 0s 600us/step - loss: 0.5346 - accuracy: 0.7401
Epoch 24/50
804/804 [==============================] - 0s 609us/step - loss: 0.5342 - accuracy: 0.7425
Epoch 25/50
804/804 [==============================] - 1s 638us/step - loss: 0.5330 - accuracy: 0.7415
Epoch 26/50
804/804 [==============================] - 0s 612us/step - loss: 0.5323 - accuracy: 0.7401
Epoch 27/50
804/804 [==============================] - 0s 586us/step - loss: 0.5342 - accuracy: 0.7364
Epoch 28/50
804/804 [==============================] - 1s 688us/step - loss: 0.5353 - accuracy: 0.7392
Epoch 29/50
804/804 [==============================] - 0s 620us/step - loss: 0.5341 - accuracy: 0.7388
Epoch 30/50
804/804 [==============================] - 0s 610us/step - loss: 0.5352 - accuracy: 0.7422
Epoch 31/50
804/804 [==============================] - 0s 613us/step - loss: 0.5318 - accuracy: 0.7373
Epoch 32/50
804/804 [==============================] - 1s 643us/step - loss: 0.5301 - accuracy: 0.7432
Epoch 33/50
804/804 [==============================] - 1s 696us/step - loss: 0.5353 - accuracy: 0.7408
Epoch 34/50
804/804 [==============================] - 1s 717us/step - loss: 0.5347 - accuracy: 0.7414
Epoch 35/50
804/804 [==============================] - 1s 658us/step - loss: 0.5353 - accuracy: 0.7414
Epoch 36/50
804/804 [==============================] - 1s 651us/step - loss: 0.5317 - accuracy: 0.7381
Epoch 37/50
804/804 [==============================] - 1s 659us/step - loss: 0.5332 - accuracy: 0.7428
Epoch 38/50
804/804 [==============================] - 1s 679us/step - loss: 0.5316 - accuracy: 0.7406
Epoch 39/50
804/804 [==============================] - 1s 642us/step - loss: 0.5306 - accuracy: 0.7436
Epoch 40/50
804/804 [==============================] - 0s 616us/step - loss: 0.5291 - accuracy: 0.7440
Epoch 41/50
804/804 [==============================] - 1s 636us/step - loss: 0.5303 - accuracy: 0.7403
Epoch 42/50
804/804 [==============================] - 1s 629us/step - loss: 0.5257 - accuracy: 0.7473
Epoch 43/50
804/804 [==============================] - 1s 660us/step - loss: 0.5322 - accuracy: 0.7410
Epoch 44/50
804/804 [==============================] - 1s 695us/step - loss: 0.5294 - accuracy: 0.7451
Epoch 45/50
804/804 [==============================] - 1s 831us/step - loss: 0.5293 - accuracy: 0.7416
Epoch 46/50
804/804 [==============================] - 1s 640us/step - loss: 0.5281 - accuracy: 0.7471
Epoch 47/50
804/804 [==============================] - 1s 782us/step - loss: 0.5298 - accuracy: 0.7407
Epoch 48/50
804/804 [==============================] - 0s 586us/step - loss: 0.5265 - accuracy: 0.7424
Epoch 49/50
804/804 [==============================] - 1s 659us/step - loss: 0.5313 - accuracy: 0.7402
Epoch 50/50
804/804 [==============================] - 0s 602us/step - loss: 0.5294 - accuracy: 0.7413

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [187]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5558 - accuracy: 0.7319
Loss: 0.5557510256767273, Accuracy: 0.7318950295448303

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [188]:
# Set the model's file path
file_path = "./Resources/AlphabetSoup.h5"# YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [189]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [190]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1# YOUR CODE HERE

In [191]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features+number_output_neurons_A1)//2 # YOUR CODE HERE

#second hidden layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1_A1+number_output_neurons_A1)//2
#third hidden layer
hidden_nodes_layer3_A1 = (hidden_nodes_layer2_A1+number_output_neurons_A1)//2
#review layers
hidden_nodes_layer1_A1,hidden_nodes_layer2_A1,hidden_nodes_layer3_A1

(58, 29, 15)

In [192]:
# Create the Sequential model instance
nn_A1 = Sequential() # YOUR CODE HERE

In [193]:
# First hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(input_dim=number_input_features, 
                units=hidden_nodes_layer1_A1, 
                activation="relu"))
#second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, 
                activation="relu"))
#third hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer3_A1, activation="relu"))

# Output layer
# YOUR CODE HERE
nn_A1.add(Dense(number_output_neurons_A1, activation="sigmoid"))

# Check the structure of the model
# YOUR CODE HERE
nn_A1.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_19 (Dense)             (None, 58)                6786
_________________________________________________________________
dense_20 (Dense)             (None, 29)                1711
_________________________________________________________________
dense_21 (Dense)             (None, 15)                450
_________________________________________________________________
dense_22 (Dense)             (None, 1)                 16
=================================================================
Total params: 8,963
Trainable params: 8,963
Non-trainable params: 0
_________________________________________________________________

In [194]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])# YOUR CODE HERE

In [195]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50, verbose=0)# YOUR CODE HERE

#### Alternative Model 2

In [196]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [197]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1# YOUR CODE HERE

In [198]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features+number_output_neurons_A2)//2 # YOUR CODE HERE

#second hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A1+number_output_neurons_A2)//2
#third hidden layer
hidden_nodes_layer3_A2 = (hidden_nodes_layer2_A1+number_output_neurons_A2)//2
#forth hidden layer
hidden_nodes_layer4_A2 = (hidden_nodes_layer3_A1+number_output_neurons_A2)//2
#review layers
hidden_nodes_layer1_A2,hidden_nodes_layer2_A2,hidden_nodes_layer3_A2,hidden_nodes_layer4_A2

(58, 29, 15, 8)

In [199]:
# Create the Sequential model instance
nn_A2 = Sequential()# YOUR CODE HERE

In [200]:
# First hidden layer
# YOUR CODE HERE
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))
#second
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))
#third
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu"))
#forth
nn_A2.add(Dense(units=hidden_nodes_layer4_A2, activation="relu"))


# Output layer
# YOUR CODE HERE
nn_A2.add(Dense(number_output_neurons_A2, activation="sigmoid"))
# Check the structure of the model
# YOUR CODE HERE
nn_A2.summary()

Model: "sequential_5"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_23 (Dense)             (None, 58)                6786
_________________________________________________________________
dense_24 (Dense)             (None, 29)                1711
_________________________________________________________________
dense_25 (Dense)             (None, 15)                450
_________________________________________________________________
dense_26 (Dense)             (None, 8)                 128
_________________________________________________________________
dense_27 (Dense)             (None, 1)                 9
=================================================================
Total params: 9,084
Trainable params: 9,084
Non-trainable params: 0
_________________________________________________________________

In [201]:
# Compile the model
# YOUR CODE HERE
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics="accuracy")

In [202]:
# Fit the model
# YOUR CODE HERE
nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 565us/step - loss: 0.6088 - accuracy: 0.6846
Epoch 2/50
804/804 [==============================] - 0s 569us/step - loss: 0.5529 - accuracy: 0.7301
Epoch 3/50
804/804 [==============================] - 0s 557us/step - loss: 0.5463 - accuracy: 0.7332
Epoch 4/50
804/804 [==============================] - 0s 556us/step - loss: 0.5493 - accuracy: 0.7285
Epoch 5/50
804/804 [==============================] - 0s 545us/step - loss: 0.5430 - accuracy: 0.7368
Epoch 6/50
804/804 [==============================] - 0s 551us/step - loss: 0.5448 - accuracy: 0.7329
Epoch 7/50
804/804 [==============================] - 0s 558us/step - loss: 0.5448 - accuracy: 0.7335
Epoch 8/50
804/804 [==============================] - 0s 546us/step - loss: 0.5430 - accuracy: 0.7346
Epoch 9/50
804/804 [==============================] - 0s 548us/step - loss: 0.5369 - accuracy: 0.7385
Epoch 10/50
804/804 [==============================] - 0s 555us/step - loss: 0.5380 - accuracy: 0.7378
Epoch 11/50
804/804 [==============================] - 0s 568us/step - loss: 0.5419 - accuracy: 0.7354
Epoch 12/50
804/804 [==============================] - 0s 545us/step - loss: 0.5374 - accuracy: 0.7376
Epoch 13/50
804/804 [==============================] - 0s 552us/step - loss: 0.5418 - accuracy: 0.7355
Epoch 14/50
804/804 [==============================] - 0s 559us/step - loss: 0.5371 - accuracy: 0.7396
Epoch 15/50
804/804 [==============================] - 0s 545us/step - loss: 0.5327 - accuracy: 0.7397
Epoch 16/50
804/804 [==============================] - 0s 542us/step - loss: 0.5373 - accuracy: 0.7414
Epoch 17/50
804/804 [==============================] - 0s 546us/step - loss: 0.5299 - accuracy: 0.7445
Epoch 18/50
804/804 [==============================] - 0s 555us/step - loss: 0.5373 - accuracy: 0.7418
Epoch 19/50
804/804 [==============================] - 0s 551us/step - loss: 0.5364 - accuracy: 0.7386
Epoch 20/50
804/804 [==============================] - 0s 550us/step - loss: 0.5357 - accuracy: 0.7370
Epoch 21/50
804/804 [==============================] - 0s 556us/step - loss: 0.5325 - accuracy: 0.7417
Epoch 22/50
804/804 [==============================] - 0s 548us/step - loss: 0.5356 - accuracy: 0.7390
Epoch 23/50
804/804 [==============================] - 0s 555us/step - loss: 0.5357 - accuracy: 0.7384
Epoch 24/50
804/804 [==============================] - 0s 568us/step - loss: 0.5344 - accuracy: 0.7402
Epoch 25/50
804/804 [==============================] - 1s 681us/step - loss: 0.5389 - accuracy: 0.7390
Epoch 26/50
804/804 [==============================] - 1s 733us/step - loss: 0.5364 - accuracy: 0.7327
Epoch 27/50
804/804 [==============================] - 1s 807us/step - loss: 0.5353 - accuracy: 0.7360
Epoch 28/50
804/804 [==============================] - 1s 705us/step - loss: 0.5341 - accuracy: 0.7419
Epoch 29/50
804/804 [==============================] - 1s 684us/step - loss: 0.5315 - accuracy: 0.7406
Epoch 30/50
804/804 [==============================] - 1s 653us/step - loss: 0.5375 - accuracy: 0.7382
Epoch 31/50
804/804 [==============================] - 1s 702us/step - loss: 0.5379 - accuracy: 0.7371
Epoch 32/50
804/804 [==============================] - 1s 707us/step - loss: 0.5330 - accuracy: 0.7385
Epoch 33/50
804/804 [==============================] - 1s 699us/step - loss: 0.5366 - accuracy: 0.7373
Epoch 34/50
804/804 [==============================] - 1s 663us/step - loss: 0.5337 - accuracy: 0.7408
Epoch 35/50
804/804 [==============================] - 1s 645us/step - loss: 0.5361 - accuracy: 0.7377
Epoch 36/50
804/804 [==============================] - 1s 622us/step - loss: 0.5385 - accuracy: 0.7386
Epoch 37/50
804/804 [==============================] - 0s 563us/step - loss: 0.5296 - accuracy: 0.7422
Epoch 38/50
804/804 [==============================] - 0s 558us/step - loss: 0.5267 - accuracy: 0.7462
Epoch 39/50
804/804 [==============================] - 0s 566us/step - loss: 0.5343 - accuracy: 0.7386
Epoch 40/50
804/804 [==============================] - 1s 631us/step - loss: 0.5384 - accuracy: 0.7323
Epoch 41/50
804/804 [==============================] - 0s 590us/step - loss: 0.5322 - accuracy: 0.7394
Epoch 42/50
804/804 [==============================] - 0s 607us/step - loss: 0.5349 - accuracy: 0.7374
Epoch 43/50
804/804 [==============================] - 0s 578us/step - loss: 0.5367 - accuracy: 0.7362
Epoch 44/50
804/804 [==============================] - 1s 622us/step - loss: 0.5298 - accuracy: 0.7441
Epoch 45/50
804/804 [==============================] - 1s 631us/step - loss: 0.5331 - accuracy: 0.7391
Epoch 46/50
804/804 [==============================] - 0s 591us/step - loss: 0.5303 - accuracy: 0.7427
Epoch 47/50
804/804 [==============================] - 1s 628us/step - loss: 0.5294 - accuracy: 0.7416
Epoch 48/50
804/804 [==============================] - 1s 650us/step - loss: 0.5312 - accuracy: 0.7425
Epoch 49/50
804/804 [==============================] - 1s 625us/step - loss: 0.5262 - accuracy: 0.7451
Epoch 50/50
804/804 [==============================] - 0s 580us/step - loss: 0.5294 - accuracy: 0.7440

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [203]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn.evaluate(X_test_scaled, y_test, verbose=2)# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5558 - accuracy: 0.7319
Loss: 0.5557510256767273, Accuracy: 0.7318950295448303

In [204]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5536 - accuracy: 0.7308
Loss: 0.5536136627197266, Accuracy: 0.7308454513549805

In [205]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5534 - accuracy: 0.7306
Loss: 0.5534247159957886, Accuracy: 0.7306122183799744

### Step 3: Save each of your alternative models as an HDF5 file.

In [206]:
# Set the file path for the first alternative model
file_path = "./Resources/AlphabetSoupA1.h5"# YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A1.save(file_path)

In [207]:
# Set the file path for the second alternative model
file_path = "./Resources/AlphabetSoupA2.h5"# YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A2.save(file_path)